@use "media-queries";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300;400;500;700&display=swap');

$abril: 'Abril Fatface', cursive;;
$josefin: 'Josefin Sans', sans-serif;

$gunmetal: #1E2A33;
$atomic-tangerine: #E39774;
$mint-cream: #F7FFF7;
$orange: #F9A620;
$paynes-gray: #326273;
$moonstone: #5C9EAD;
$light-moonstone: #5c9ead63;


#div-index {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 2;

    .titulo {
        width: 90vw;
        filter: drop-shadow( -4px 4px 5px $paynes-gray);

        @include media-queries.tablet {
            width: 75vw;
        }

        @include media-queries.desktop {
            width: 50vw;
        }
    }

    .subtitulo {
        color: $atomic-tangerine;
        font-family: $josefin;
        font-size: 2rem;
        font-weight: 300;
        padding-right: 12px;

        @include media-queries.tablet {
            font-size: 2.5rem;
        }
            
        @include media-queries.desktop {
            font-size: 3rem;
        }
    }
}

.title-section {
    color: $gunmetal;
    font-family: $abril;
    font-size: 3rem;
    font-weight: 300;
    width: 100vw;
    text-align: center;
    padding: 5rem 0 2rem;

    @include media-queries.tablet {
        font-size: 3.5rem;
        padding: 7rem 0 1rem;
    }
}

#project {
    width: 22rem;
    height: 17rem;
    background-color: $atomic-tangerine;
    display: flex;
    flex-direction: column;
    border: 6px solid $atomic-tangerine;
    border-radius: 20px;
    margin: 2rem 0.8rem;

    .div-img-project {
        width: auto;
        height: 78%;
        overflow: hidden;
        border-radius: 20px 20px 0 0;

        .img-project {
             width: 100%;
             height: auto;
        }
    }
    
    .div-title-project {
        height: 22%;
        display: flex;
        align-items: center;
        
        .title-project {
            color: $mint-cream;
            font-family: $josefin;
            font-size: 1.8rem;
            font-weight: 800;
            margin-left: 5px;
        }
    }
}

.txt-footer {
    color: $gunmetal;
    font-family: $josefin;
    font-size: 1.5rem;
    font-weight: 300;
}        

.logo-footer {
    width: 9rem;
    margin-left: 0.4rem;
    padding-bottom: 5px;
}