@use "media-queries";
@use "components";

.footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-bottom: 0.3rem;
    position: absolute;

    .div-footer__txt {
        color: components.$gunmetal;
        font-family: components.$josefin;
        font-size: 1rem;
        font-weight: 300;
    }

    .div-footer__icon {
        width: 6rem;
        margin-left: 0.4rem;
    }
}
