@use "media-queries";
@use "globals";

.footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    position: relative;
    

    .div-footer__txt {
        color: globals.$gunmetal;
        font-family: globals.$josefin;
        font-size: 1rem;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2rem 0 1rem;

        .div-footer__icon {
            width: 6rem;
            margin-bottom: 0.3rem;
            margin-left: 0.5rem;

            @include media-queries.desktop {
                width: 7rem;
            }
        }

        @include media-queries.desktop {
            font-size: 1.2rem;
        }
    }

    @include media-queries.desktop-s {
        position: absolute;
    }
}

.footer--relativo {
    position: relative;
}