@use "componentes";

@mixin seccion {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;

    #nav-bar {
        width: 70vw;
        height: 4rem;
        background: componentes.$vara-oro;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1.5rem;
    }
}

#home {
    background-color: componentes.$bronce;
    background-image: url(../assets/img/img-fondo-m.png);
    background-repeat: no-repeat;
    background-position: left top;
}

body {
    background-color: componentes.$bronce;
}

#inicio {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #div-inicio {
        display: flex;
        flex-direction: column;
    }
}

#galeria {
    @include seccion();

    #div-proyectos {
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

#sobre-mi {
    @include seccion();
    
    #div-sobre-mi {
        width: 95%;
        display: flex;    
    }
}

#contacto {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
}

footer {
    bottom: 0;
    display: flex;
}

@media (min-width: 700px){
    #home {
        background-color: componentes.$bronce;
        background-image: url(../assets/img/img-fondo.png);
        background-repeat: no-repeat;
        background-position: left top;
    }
}