@use "media-queries";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300;400;500;700&display=swap');

$abril: 'Abril Fatface', cursive;;
$josefin: 'Josefin Sans', sans-serif;

$gunmetal: #1E2A33;
$atomic-tangerine: #E39774;
$mint-cream: #F7FFF7;
$orange: #F9A620;
$paynes-gray: #326273;
$moonstone: #5C9EAD;
$light-moonstone: #96bcc4dc;

body {
    background-color: $mint-cream;
}