@use "componentes";

#navbar {
    display: flex;
    justify-content: center;

    #nav-bar {
        width: 370px;
        height: 80px;
        background: componentes.$vara-oro;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
        margin-bottom: 1.5rem;
    }
}

body {
    background-image: url(./assets/img/img-fondo-m.png);
}

#inicio {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    #div-inicio {
        display: flex;
        flex-direction: column;
    }
}