@use "media-queries";
@use "globals";

.skills-lines {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;

    .skills-lines__line-uno {
        background-color: globals.$moonstone;
        height: 100vh;
        width: 6px;
        margin-left: 2.5rem;

    }

    .skills-lines__line-dos {
        background-color: globals.$orange;
        height: 100vh;
        width: 20px;
        margin-left: 1.2rem;

    }


    .skills-lines__line-tres {
        background-color: globals.$paynes-gray;
        height: 100vh;
        width: 7px;
        margin-left: 2rem;

    }
}