@use "media-queries";
@use "components";

#navbar {
    background-color: components.$light-moonstone;
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    justify-content: center;
    z-index: 1;

    @include media-queries.tablet {
        height: 4rem;
        z-index: 3;
    }

    .btn-nav {
        padding-right: 16px;
        background-color: transparent;
        border: none;
        z-index: 5;
        display: flex;
        position: absolute;
        cursor: pointer;

        @include media-queries.tablet {
            display: none;
        }

        .icon-btn-nav {
            width: 2rem;
        }
    }

    .nav {
        background-color: components.$light-moonstone;
        width: 100%;
        height: 10rem;
        margin-top: 13rem;
        padding-right: 10px;
        position: absolute;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
        z-index: 1;

        @include media-queries.tablet {
            background-color: transparent;
            height: 0;
            margin-top: 0;
            position: fixed;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
        }

        .nav-item {
            width: 100%;
            margin-right: 6px;
            text-align: end;

            @include media-queries.tablet {
                width: auto;
                margin-right: 0;
                margin-left: 3rem;
            }

            a {
                color: components.$mint-cream;
                font-size: 1.5rem;
                font-weight: 400;
                font-family: components.$josefin;
                text-decoration: none;
                text-shadow: -1px 1px 2px components.$mint-cream;

                @include media-queries.tablet {
                    font-size: 1.8rem;
                    color: components.$paynes-gray;
                }
            }
        }
    }
}