@use "media-queries";
@use "globals";

.skills-section {
    width: 100vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    @include media-queries.desktop {
        min-height: 90vh;
    }
}