@use "media-queries";
@use "globals";

.gallery-section {
    width: 100vw;
    min-height: 8vh;
    padding-top: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .project {
        width: 27rem;
        height: 18rem;
        background-color: globals.$atomic-tangerine;
        display: flex;
        flex-direction: column;
        border: 6px solid globals.$atomic-tangerine;
        border-radius: 20px;
        margin: 2rem;
    
        .project__div-img {
            width: auto;
            height: 78%;
            overflow: hidden;
            border-radius: 20px 20px 0 0;
    
            .div-img__img {
                 width: 100%;
                 height: auto;
            }
        }
        
        .project__title {
            color: globals.$mint-cream;
            font-family: globals.$josefin;
            font-size: 1.8rem;
            font-weight: 800;
            margin-left: 5px;
            height: 22%;
            display: flex;
            align-items: center;
        }
    }

    .div-info-project {
        background-color: globals.$light-moonstone;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        z-index: 3;
        position: fixed;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


        .info-project {
            background-color: globals.$gunmetal;
            width: 85%;
            height: 60%;
            border-radius: 20px;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;

            .info-project__div-btn-close {
                width: 100%;
                display: flex;
                justify-content: flex-end;
    
                .div-btn-close__btn-close {
                    font-family: globals.$josefin;
                    font-size: 1.3rem;
                    font-weight: 800;
                    color: globals.$moonstone;
                    background-color: transparent;
                    border: none;
                    padding: 1.5rem 1.5rem 1rem 1.5rem;
                    cursor: pointer;
                }
            }
    
            .info-project__title {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.8rem;
                font-weight: 800;
                margin: 0 1.5rem 0.7rem;
            }
    
            .info-project__link {
                color: globals.$moonstone;
                font-family: globals.$josefin;
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0 1.5rem 0.5rem;
            }
    
            .info-project__txt {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.1rem;
                font-weight: 300;
                margin: 0 1.5rem;
            }

            @include media-queries.tablet {
                width: 75%;
                height: 60%;
            }
    
            @include media-queries.desktop {
                width: 60%;
                height: 50%;
            }
        }

    }

    @include media-queries.tablet {
        padding-top: 9rem;
    }

    @include media-queries.desktop {
        padding-top: 10rem;
    }
}
