@use "media-queries";
@use "globals";

.gallery-section {
    width: 100vw;
    min-height: 85vh;
    padding-top: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .project {
        width: 80%;
        height: 18rem;
        background-color: globals.$atomic-tangerine;
        display: flex;
        flex-direction: column;
        border: 6px solid globals.$atomic-tangerine;
        border-radius: 20px;
        margin: 2rem;
        box-shadow: 0px 0px 15px 4px globals.$paynes-gray;
        transition: all 130ms;
    
        .project__div-img {
            width: auto;
            height: 78%;
            overflow: hidden;
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
    
            .div-img__img {
                 width: 120%;
                 height: auto;
            }
        }
        
        .project__title {
            color: globals.$mint-cream;
            font-family: globals.$josefin;
            font-size: 1.8rem;
            font-weight: 800;
            margin-left: 5px;
            height: 22%;
            display: flex;
            align-items: center;
        }

        &:hover {
            box-shadow: 0px 0px 30px 9px globals.$paynes-gray;
            scale: 1.05;
        }

        @include media-queries.tablet {
            width: 75%;
            height: 350px;
            margin: 2rem 1rem;
        }

        @include media-queries.desktop-s {
            width: 27rem;
            height: 350px;
            margin: 3rem;
        }

        @include media-queries.desktop {
            margin: 3rem 3.5rem;
        }
    }

    .div-info-project {
        background-color: globals.$light-moonstone;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        z-index: 3;
        position: fixed;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


        .info-project {
            background-color: globals.$gunmetal;
            width: 85%;
            height: auto;
            min-height: 60%;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-bottom: 2rem;
            border-radius: 20px;

            .info-project__div-btn-close {
                width: 100%;
                display: flex;
                justify-content: flex-end;
    
                .div-btn-close__btn-close {
                    width: 2rem;
                    font-weight: 800;
                    padding: 1.5rem 1.5rem 1rem 1.5rem;
                    cursor: pointer;
                    transition: all 100ms;

                    &:hover {
                        scale: 1.15;
                    }
                }
            }
    
            .info-project__title {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.8rem;
                font-weight: 800;
                margin: 0 1.5rem 0.8rem;

                @include media-queries.tablet {
                    font-size: 2rem;
                }
        
                @include media-queries.desktop {
                    font-size: 2.2rem;
                }
            }
    
            .info-project__link {
                color: globals.$moonstone;
                font-family: globals.$josefin;
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0 1.5rem 0.8rem;

                @include media-queries.tablet {
                    font-size: 1.2rem;
                }
        
                @include media-queries.desktop {
                    font-size: 1.5rem;
                }
            }
    
            .info-project__txt {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.1rem;
                font-weight: 300;
                margin: 0 1.5rem;

                @include media-queries.tablet {
                    font-size: 1.2rem;
                }
        
                @include media-queries.desktop {
                    font-size: 1.5rem;
                }
            }

            @include media-queries.tablet {
                width: 80%;
                height: auto;
                min-height: 50%;
            }
    
            @include media-queries.desktop {
                width: 50%;
                height: auto;
                min-height: 50%;
            }
        }

    }

    @include media-queries.tablet {
        padding-top: 11rem;

    }

    @include media-queries.desktop {
        min-height: 87vh;
        padding-top: 10rem;
    }
}
