@use "media-queries";
@use "globals";

.contact-section {
    width: 100vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}