@use "media-queries";
@use "globals";

.contact-section {
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .div-form {
        margin: 10rem 0 0;
        display: flex;
        width: 80%;

        form {
            background-color: globals.$atomic-tangerine;
            width: 100%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            .form {
                margin: 0.7rem 0;
                width: 90%;

                label, p {
                    color: globals.$mint-cream;
                    font-family: globals.$josefin;
                    font-size: 1.1rem;
                    font-weight: 600;
                    width: 100%;
                    display: block;
                    margin: 0.6rem 0;

                    @include media-queries.tablet {
                        font-size: 1.2rem;
                    }
            
                    @include media-queries.desktop {
                        font-size: 1.3rem;
                    }
                }

                input, textarea {
                    color: globals.$gunmetal;
                    font-family: globals.$josefin;
                    font-size: 1.1rem;
                    font-weight: 400;
                    background-color: globals.$mint-cream;
                    border-radius: 16px;
                    padding: 0.8rem;
                    border: none;
                    width: calc(100% - 2rem);
                    height: 1rem;
                    
                    &:focus-visible {
                        outline: none;
                    }

                    @include media-queries.tablet {
                        height: 1.2rem;
                    }
            
                    @include media-queries.desktop {
                        height: 1.5rem;
                    }
                }

                textarea {
                    height: 3rem;
                    overflow: scroll;
                    resize: none;
                }

            }

            .form-boton {
                width: 86%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 1.5rem;

                .form-boton__btn {
                    background-color: globals.$mint-cream;
                    display: block;
                    width: 7rem;
                    height: 3rem;
                    border-radius: 16px;
                    border: none;
                    transition: all 0.4s;

                    &:hover {
                        box-shadow: 0 0 12px globals.$paynes-gray;
                        scale: 1.05;
                    }

                    a {
                        color: globals.$paynes-gray;
                        font-family: globals.$josefin;
                        font-size: 1.1rem;
                        font-weight: 600;

                        @include media-queries.tablet {
                            font-size: 1.2rem;
                        }
                
                        @include media-queries.desktop {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            @include media-queries.desktop {
                width: 500px;
            }
        } 

        @include media-queries.tablet {
            width: 75%;
        }

        @include media-queries.desktop {
            margin: 11em 0 0;
            justify-content: flex-end;
        }
    }



    .icons-contact {
        width: 80%;
        margin: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .icons-contact__icon {
            height: 2.6rem;
            padding: 2rem 3rem;
            filter: drop-shadow(0 0 3px globals.$moonstone);

            @include media-queries.tablet {
                height: 3rem;
                padding: 2rem;
            }
    
            @include media-queries.desktop {
                height: 3.4rem;
                padding: 1.8rem 3rem;
            }
        }

        @include media-queries.desktop {
            width: 80%;
        }

        @include media-queries.desktop {
            width: 50%;
            margin: 11em 0 0;
            padding-right: 8rem;
            height: 57vh;
            align-content: space-around;
        }
    }

    @include media-queries.desktop {
        width: 80%;
        margin: 0 10%;
        min-height: 87vh;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-around;
    }
}