@use "media-queries";
@use "globals";

.sobre-mi-section {
    width: 100vw;
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .sobre-mi {
        background-color: globals.$atomic-tangerine;
        width: 80%;
        height: auto;
        border-radius: 20px;
        margin: 10rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .sobre-mi__div-img {
            width: 0%;

            .div-img__img {
                display: none;

                @include media-queries.desktop {
<<<<<<< HEAD
                    height: 250px;
=======
                    width: 30rem;
>>>>>>> 18c9cdeb91aeecb31855e2bf598e33b8fe41eb6a
                    display: flex;
                }
            }

            @include media-queries.desktop {
                width: 30%;
<<<<<<< HEAD
=======
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
>>>>>>> 18c9cdeb91aeecb31855e2bf598e33b8fe41eb6a
            }
        }

        .sobre-mi__txt {
            width: 100%;
            padding: 1.7rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .txt__title {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 0.6rem;

                @include media-queries.desktop {
                    font-size: 2rem;
                }
            }

            .txt__parraf {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.2rem;
                font-weight: 400;

                @include media-queries.desktop {
                    font-size: 1.4rem;
                }
            }

            @include media-queries.desktop {
                width: 70%;
            }
        }

<<<<<<< HEAD
        @include media-queries.desktop {
=======
        @include media-queries.tablet {
>>>>>>> 18c9cdeb91aeecb31855e2bf598e33b8fe41eb6a
            width: 70%;
        }

        @include media-queries.desktop {
<<<<<<< HEAD
            width: 60%;
            margin: 10rem 0 0;
=======
            height: auto;
            margin: 11rem 0 0;
>>>>>>> 18c9cdeb91aeecb31855e2bf598e33b8fe41eb6a
        }
    }
}