@use "media-queries";
@use "globals";

.sobre-mi-section {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;

    .sobre-mi {
        background-color: globals.$atomic-tangerine;
        width: 80%;
        height: 60%;
        border-radius: 20px;
        margin: 10rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sobre-mi__div-img {
            width: 0%;

            .div-img__img {
                display: none;
            }
        }

        .sobre-mi__txt {
            width: 100%;
            padding: 1.7rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .txt__title {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 0.6rem;
            }

            .txt__parraf {
                color: globals.$mint-cream;
                font-family: globals.$josefin;
                font-size: 1.1rem;
                font-weight: 400;
            }


        }

        @include media-queries.desktop {
            margin: 9rem 0 0;
        }
    }
}