@use "media-queries";
@use "components";

.sobre-mi {
    background-color: components.$atomic-tangerine;
    width: 80%;
    margin-top: 11.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-queries.tablet {
        width: 70%;
        height: 520px;
    }

    @include media-queries.desktop {
        width: 60%;
    }
    
    .sobre-mi__div-img {
        display: none;

        @include media-queries.tablet {
            width: 40%;
            border-radius: 20px 0 0 20px;
            display: flex;
            justify-content: center;
            overflow: hidden;


            .div-img__img {
                height: 100%;
                width: auto;
            }
        }

        @include media-queries.desktop {
            width: 20%;
        }
    }

    .sobre-mi__txt {
        width: 100%;
        padding: 1.7rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @include media-queries.tablet {
            justify-content: center;
        }

        .txt__title {
            color: components.$mint-cream;
            font-family: components.$josefin;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0.6rem;
        }

        .txt__parraf {
            color: components.$mint-cream;
            font-family: components.$josefin;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}

