@use "media-queries";
@use "globals";

.title-section {
    color: globals.$gunmetal;
    font-family: globals.$abril;
    font-size: 3.2rem;
    font-weight: 300;
    width: 100vw;
    text-align: center;
    padding: 4.5rem 0 0;
    position: absolute;

    @include media-queries.tablet {
        font-size: 3.2rem;
    }
}