@use "media-queries";
@use "globals";

.title-section {
    width: 100vw;
    padding: 4.5rem 0 0;
    position: absolute;

    .title-section__title {
        color: globals.$gunmetal;
        font-family: globals.$abril;
        font-size: 3.2rem;
        font-weight: 300;
        text-align: center;
    }

    @include media-queries.tablet {
        font-size: 3.2rem;
        padding: 4.5rem 0 0;
    }

    @include media-queries.tablet {
        font-size: 3.7rem;
        padding: 5.5rem 0 0;
    }
}