@use "media-queries";
@use "globals";

.title-section {
    width: 100vw;
    padding: 4.5rem 0 0;
    position: absolute;
    top: 0;

    .title-section__title {
        color: globals.$gunmetal;
        font-family: globals.$abril;
        font-size: 3.2rem;
        font-weight: 300;
        text-align: center;

        @include media-queries.tablet {
            font-size: 3.3rem;
        }

        @include media-queries.desktop {
            font-size: 3.8rem;
        }
    }

    @include media-queries.tablet {
        padding: 4.5rem 0 0;
    }

    @include media-queries.desktop {
        padding: 5.5rem 0 0;
    }
}