@import url(../styles.css);

.img-start{
    height: 110%;
    width: auto;
}

.project__img{
    height: 100%;
    width: auto;
    opacity: 0.6;
}

.img-profile{
    height: 95%;
}

@media only screen and (min-width: 1400px) {
    .img-start{
        height: auto;
        width: 150%;
    }
}