@import url(../styles.css);

.card{
    width: 12rem;
    height: 13rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-icons{
    width: 12rem;
    height: 13rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card--primary{
    background-color: var(--color-primary);
}

.card--secondary{
    background-color: var(--color-secondary);
}

.card--tertiary{
    background-color: var(--color-tertiary);
}