@import url(../styles.css);

.div-txt-contact {
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}



@media only screen and (min-width: 770px) {
    .div-txt-contact {
        padding: 1.5rem 0;
    }
}