@import url(../styles.css);

.div-img-profile {
    width: 13.5rem;
    height: 16rem;
    background-color: var(--color-tertiary);
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


@media only screen and (min-width: 770px) {
    .div-img-profile {
        width: 14rem;
        height: 17rem;
    }
}

@media only screen and (min-width: 1100px) {
    .div-img-profile {
        width: 18rem;
        height: 19rem;
        margin-bottom: 0rem;
        position: absolute;
    }
}