@import url(../styles.css);

.menu-nav {
    height: 9rem;
    margin-right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.menu-nav-footer{
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


@media only screen and (min-width: 770px) {
    .menu-nav {
        width: 25rem;
        height: 3rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}