@import url(../styles.css);

.projects-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media only screen and (min-width: 970px) {
    
}