@import url(../styles.css);

.projects-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


@media only screen and (min-width: 700px) {
    .projects-container{
        justify-content: space-between;
    }
}