@import url(../styles.css);

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

#btn-menu-nav {
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    z-index: 2;
    position: fixed;
    right: 1rem;
}

.form-btn{
    width: 8rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    margin-top: 0.6rem;
    border: none;
    box-shadow: 0px 0px 10px #2325384b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.form-btn:hover{
    filter: drop-shadow(1px 1px 4px var(--color-secondary)) ;
}

.form-btn:active{
    filter: drop-shadow(1px 1px 3px #232538b0) ;
}

.btn-icon{
    width: 1.9rem;
}

.icon--secondary:hover{
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 4px var(--color-tertiary)) ;
}

.icon--secondary:active{
    filter: drop-shadow(1px 1px 3px #23253888) ;
}

.icon--clear:hover{
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 4px var(--color-primary)) ;
}

.icon--clear:active{
    filter: drop-shadow(1px 1px 3px #23253888) ;
}

.btn-arrow{
    width: 1.3rem;
    margin-bottom: -0.2rem;
    height: auto;
}

.btn-menu {
    height: 1.4rem;
}


@media only screen and (min-width: 770px) {
    #btn-menu-nav {
        display: none;
    }  
}