@import url(../styles.css);

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btn-menu-nav {
    padding: 1rem;
    display: flex;
    z-index: 1;
}


@media only screen and (min-width: 770px) {
    #btn-menu-nav {
        display: none;
    }  
}