@import url(../styles.css);

.project__div-img{
    width: 16rem;
    height: 14rem;
    background-color: var(--color-tertiary);
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 770px) {
    .project__div-img{
        width: 14rem;
    }
}