@import url(../styles.css);

.project__txt{
    width: 15rem;
    height: auto;
    background-color: var(--color-tertiary);
    padding: 0 0.5rem 1rem 0.5rem;
}

.project__txt > * {
    margin: 0.6rem;
}


@media only screen and (min-width: 770px) {
    .project__txt{
        width: 13rem;
    }
}