@import url(../styles.css);

.section-footer{
    width: 90%;
    padding: 1rem 5%;
    height: 7rem;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (min-width: 470px) {
    .section--secondary{
        height: 9rem;
    }
}

@media only screen and (min-width: 770px) {
    .section--secondary{
        height: 11rem;
        width: 86%;
        padding: 1rem 7%;
    }
}

@media only screen and (min-width: 1100px) {
    .section--secondary{
        height: 12rem;
        width: 80%;
        padding: 1rem 10%;
    }
}