@import url(../styles.css);

.section--tertiary {
    background-color: var(--color-tertiary);
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
