@import url(../styles.css);

.section-start {
    background-color: #ddb7ac88;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


@media only screen and (min-width: 770px) {
    .section-start{
        height: 100vh;
    }
}