@import url(../styles.css);

.section-profile {
    width: 90%;
    height: auto;
    padding: 0 5% 2rem;
}


@media only screen and (min-width: 470px) {
    .section-profile {
        height: auto;
    }
}

@media only screen and (min-width: 770px) {
    .section-profile {
        width: 86%;
        padding: 0 7% 3rem;
    }
}

@media only screen and (min-width: 1100px) {
    .section-profile {
        width: 80%;
        padding: 0 10% 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}