@import url(../styles.css);

.section {
    width: 90%;
    padding: 0rem 5%;
}

.section--primary {
    background-color: var(--color-primary);
}

.section--secondary {
    background-color: var(--color-secondary);
}

.section--tertiary {
    background-color: var(--color-tertiary);
}

.section--clear {
    background-color: var(--color-clear);
}

@media only screen and (min-width: 770px) {
    .section {
        width: 86%;
        padding: 1rem 7%;
    }  
}

@media only screen and (min-width: 1100px) {
    .section {
        width: 80%;
        padding: 1rem 10%;
    }  
}