@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Montserrat:wght@300;400;500&family=Oswald:wght@300;400;500&family=Playfair+Display:wght@600&display=swap');

:root {
    --color-primary: #F0D9D1;
    --color-secondary: #979F89;
    --color-tertiary: #DDB7AC;
    --color-clear: #F4EFEC;
    --color-dark: #232538;
}

html {
    font-size: 18px;
}

.title-pag{
    font-family: 'Elsie', cursive;
    font-size: 5.3rem;
}

.subtitle-pag{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

.title{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.txt{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.txt--em{
    font-weight: 400;
}

.txt--clear{
    color: var(--color-clear);
}

.txt--dark{
    color: var(--color-dark);
}

.txt--secondary{
    color: var(--color-tertiary);
}

.txt-diff{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.txt-diff--l{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-clear);
}

.txt-diff--s{
    font-size: 1rem;
    font-weight: 400;
}



@media only screen and (min-width: 470px) {
    html {
        font-size: 20px;
    }

    .title-pag{
        font-family: 'Elsie', cursive;
        font-size: 5.4rem;
    }
}

@media only screen and (min-width: 770px) {
    html {
        font-size: 22px;
    }

    .title-pag{
        font-size: 6rem;
    }
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 24px;
    }

    .title-pag{
        font-size: 8rem;
    }
}