
html {
    font-size: 18px;
}

.title-pag{
    font-family: 'Elsie', cursive;
    font-size: 5.3rem;
}

.subtitle-pag{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.title{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-top: 2rem;
}



@media only screen and (min-width: 470px) {

    .title-pag{
        font-family: 'Elsie', cursive;
        font-size: 5.4rem;
    }
}

@media only screen and (min-width: 770px) {
    html {
        font-size: 19px;
    }

    .title-pag{
        font-size: 6rem;
    }
}

@media only screen and (min-width: 1100px) {

    .title-pag{
        font-size: 8rem;
    }
}